body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.fan {
  position: relative;
}

.rod {
  width: 12px;
  height: 140px;
  background: coral;
  margin: auto;
}

/* Center circle */
.plate {
  width: 50px;
  height: 50px;
  background: #555;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

/* ONLY for centering */
.blades-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ONLY for rotation */
.blades {
  width: 100px;
  height: 100px;
  position: relative;
  animation: spin 1s linear infinite;
}

.blade {
  position: absolute;
  width: 80px;
  height: 8px;
  background: black;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform-origin: left center;
}

.blade:nth-child(1) {
  transform: translateY(-50%) rotate(0deg);
}

.blade:nth-child(2) {
  transform: translateY(-50%) rotate(120deg);
}

.blade:nth-child(3) {
  transform: translateY(-50%) rotate(240deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
