*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
nav{
    background-color: burlywood;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}
nav div img {
    height: 100px;
    width: 200px;
    margin-left: 80px;
    float: left;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-top: 35px;
    margin-right: 10px;
    margin-bottom: 45px;



}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;


}
nav ul li a:hover{
    color: grey;
    background-color: rgb(218, 169, 105);
    font-size: x-large;
}
nav .loginbox{
    margin-right: 50px;
}
nav .loginbox h1{
    float: right;
    font-size: 22px;
    background-color: burlywood;
    margin-top: -20px;
    display: flex;
    font-weight: lighter;
    
}
nav .loginbox h1:hover{
    opacity: 0.6;
    cursor: pointer;
    
}

legend{
    display: flex;
    font-weight: bold;
    font-size: 26px;
}
label{
    font-size: 18px;
    font-weight: normal;
}

.loginpanel{
    display: none;
    border: none;
    padding: 30px;
    background-color: white;
    border: 2px solid;
    position: absolute;
   margin-top: 20px;
}
#lg{
    background-color: grey;
    width: 175px;
    color: aliceblue;
    font-size: 20px;
    border: 1px solid grey;
    margin-top: 15px;
    height: 35px;
}

#cb{
     margin-top: 15px;
     
}

.loginbox:hover .loginpanel{
    display:block;
}

a.gt {
    border: 1px solid black;
    background-color: bisque;
    color: black;
    font-weight: bold;
    padding: 10px 14px;
    border-radius: 12px;
    bottom: 20px;
    right: 20px;
    margin-left: 600px;
    position: fixed;
    text-decoration: none;
    
    
}
a.gt:hover {
    background-color: rgb(243, 233, 222);
    cursor: pointer;
    color: rgb(56, 55, 55);
    border: none;
}

p {
    overflow: hidden;
    margin-top: 50px;
}

li.navpic img {
    display: none;
    width: 24px;

}

@media screen and (max-width: 860px) {
    li.navmenu {
        display: none;
    }
    div.logobox {
        display: none;
    }
    div.loginbox {
        display: none;
    }
    li.navpic img{
        display: block;
    }

}