*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #ff9e16;
    position: sticky;
    top: 0;
    padding: 15px; 
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;

}

nav ul li a:hover{
    color: brown;
    border: 2px dotted;
}

p {
    margin-top: 25px;
    overflow: auto;
}
